{% extends 'navbar.html' %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="boarder-bottom mb-4">Join us Today</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn-outline-info" type="submit">Sign up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an Account? <a class="ml-2" href="{% url 'login' %}">Login As Student</a>
                <br><br>
                OR <a class="ml-2" href="{% url 'adminlog' %}">Login As ADMIN</a>
            </small>

        </div>
    </div>
{% endblock %}