{% extends 'navbar2.html' %}

{% block content %}
<br><br>
<div>
    <fieldset>
    <legend style="color:red"> STUDENT LOGIN</legend>
    <form method="POST" action="">
        {% csrf_token %}
        <label>username</label>
        <input type="text" name="username" placeholder="Enter username" />
        <br><br>
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter Password" />
        <input style="color:red" type="submit" value="LOGIN" />
    </form>
    </fieldset>
</div>

{% endblock %}

